{% extends 'blog/base.html' %}
{% block content %}
<h3 class="border.button pb-3 mb-3 mt-5">About me!</h3>
<p class="text-secondary  p-4 comment" >
    Hi my name is Oussama OK.
        I'm an it traniner with experience in web development. So you want to start a website?
        Whether it's 
        online store, personal blog, some specialized web application or something else entirely, 
        here is the place where you can get up to speed with the basic requirements,
        search engine optimization, how to choose hosting company, 
        where to register your domain and overall the complete process of building a website or web application. 
        To stay up to date contact me or sign up for the news letter.
</p>
{% endblock content %}
