{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">
    
</head>
<body>
    <header><!--Start Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'blog/images/mim-logo.png' %}" alt="logo Blog", width="30px">
                Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes formations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Formation Django</a>
                    <a class="dropdown-item" href="#">Formation Python</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Formation html & css</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Who I'am</a>
                  </li>
              </ul>
              <ul class="navbar-nav">
                
                <li class="nav-item"><a class="nav-link" href="#">S'identifier</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Créer un compte </a></li>
              </ul>
            </div>           
          </nav>
          <!--End Navbar-->
    </header>

    <div><i class="fas fa-home"></i> <a>  Bienvenue sur notre blog sur le développement web « Premier pas » !</a> </div>
    <script src="{% static 'blog/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>

</body>
</html>