{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">
    
</head>
<body>
    <header><!--Start Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'blog/images/mim-logo.png' %}" alt="logo Blog", width="30px">
                Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes formations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Formation Django</a>
                    <a class="dropdown-item" href="#">Formation Python</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Formation html & css</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Who I'am</a>
                  </li>
              </ul>
              <ul class="navbar-nav">
                
                <li class="nav-item"><a class="nav-link" href="#">S'identifier</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Créer un compte </a></li>
              </ul>
            </div>           
          </nav>
          <!--End Navbar-->
    </header>
    <section>
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-8">Blogs</div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="text-center bg-secondary text-light p-2">Les derniers blogs</h3>
                        <ul>
                            <li><a href="#">Le premier   blog</a></li>
                            <li><a href="#">Le deuxième  blog</a></li>
                            <li><a href="#">Le troisième blog</a></li>
                            <li> <a href="#">Le quatrième blog</a></li>
                            <li><a href="#">Le cinquième blog</a></li>
                        </ul>
                    </div>
                    <div class="card mb-3">
                        <h3 class="text-center bg-secondary text-light p-2">Les derniers commentaires</h3>
                        <ul>
                            <li><a href="#">Le premier commentaire</a></li>
                            <li><a href="#">Le deuxième commentaire</a></li>
                            <li><a href="#">Le troisième commentaire</a></li>
                            <li> <a href="#">Le quatrième commentaire</a></li>
                            <li><a href="#">Le cinquième commentaire</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="card-group mt-3">
                        <div class="card m-3">
                            <h3 class="card-title text-center 
                            border-bottom p-2 mb-3">
                                Who Am I </h3>
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{% static 'blog/images/mim-logo.png' %}" alt="logo blog" width="70px">
                                </div>
                                <h6>
                                    <a>Hi my name is Oussama OK.
                                        I'm an it traniner with experience in web development. So you want to start a website? Whether it's 
                                        online store, personal blog, some specialized web application or something else entirely, 
                                        here is the place where you can get up to speed with the basic requirements,
                                        search engine optimization, how to choose hosting company, 
                                        where to register your domain and overall the complete process of building a website or web application
                                        . To stay up to date contact me or sign up for the news letter.
                                       </a>
                                </h6>
                                
                            </div>
                        </div>
                        <div class="card m-3">
                            <h3 class="card-title text-center 
                            border-bottom p-2 mb-3">
                                Sites importants
                        </h3>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#"> Premier Site</a></li>
                                    <li><a href="#"> Deuxième Site</a></li>
                                    <li><a href="#"> Troisième Site</a></li>
                                    <li><a href="#"> Quatrième Site</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-3">
                            <h3 class="card-title text-center 
                            border-bottom p-2 mb-3">
                                Social media </h3>
                            <div class="card-body text-center">
                                Facebook
                                Twitter
                                Instagram
                                Youtube
                                Linkedin
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row p-2">
            <div class="col-md text-center">
                <small class="text-light">&copy; copyright - tous droits réservés</small>
            </div>
            
        </div>
        </div>
        
    </footer>
    <div><i class="fas fa-home"></i> <a>  Bienvenue sur notre blog sur le développement web « Premier pas » !</a> </div>
    <script src="{% static 'blog/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>

</body>
</html>